data/*/*.bin
pylog124M/
__pycache__/
logs/
.cache/triton
.cache/wandb
.cache/huggingface
wandb/
*log
.DS_Store
.idea
.ipynb_checkpoints/
.vscode
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
output/*/config.json
output/*/*/config.json
output/*/*/*.json

data/fineweb-edu10B/
data/fineweb-edu100B/
data/fineweb-edu350B/

output/out/*
